input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

select {
  padding: 0;
  margin: 0;

  border: 0;
  border: none;
}

html {
  font-family: "Proxima Nova", Georgia, sans-serif;
}

body {
  font-family: "Proxima Nova", Georgia, sans-serif;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}

.header {
  height: 80px;
  display: table;
  margin: 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  /*background-color: #299501;*/
}

.content-header {

  &-desktop {
    display: none;
  }

  .title {
    color: #000000;
    font-size: 22px;
    text-align: center;
  }

  .slogan {
    color: #ff408e;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
}

.content {

}

.aside {

}

.order {
  /*background-color: #fff;*/
  /*border: solid 1px #e6e6e6;*/
  padding: 0 25px 42px 25px;

  .total-body {
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    padding: 20px 0 20px 0;
  }

  .total-final {
    padding-top: 20px;
    font-size: 16px;
  }

  table {
    width: 100%;

    td:nth-child(2) {
      text-align: right;
    }

    .discount {
      color: #FF408E;
    }
  }

  .coupon-code {
    font-size: 16px;
    margin-top: 32px;

    a {
      color: #ff408e;
    }
  }
}

.picture {
  margin: 0 15px 0 15px;

  &-desktop {
    display: none;
  }

  p {
    font-size: 16px;
  }
}

.checkout {

  h2 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
  }
}

section {
  max-width: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}




.column-street {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 66px;
}

.column-apt {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 22px;
}


.column-center {
  display: none;
}

.scentbird-input {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 100%;
  color: #000;
  font-size: 18px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 21;
  overflow: hidden;
  text-overflow: ellipsis;

  display: block;
  position: relative;
  font-family: Proxima Nova, Trebuchet MS ,Verdana ,sans-serif;
  font-weight: 400;
  background: #fafafa;
  border: 1px solid #e6e6e6;

  &:focus {
    background-color: #ffffff;
    border-color: #ff8fbc;
  }
}


.form-control.error {
   border: 2px solid #fd6464;

  .scentbird-input {
    border: none;
  }
}

.form-control.bg {
  background: #fafafa;
}

.form-control, .form-control ._1wJI {
  display: block;
  position: relative;
  font-family: Proxima Nova, Trebuchet MS, Verdana, sans-serif;
  font-weight: 400;
}

.form-control {
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  line-height: normal;
  /*-webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;*/
  background: #fff;
}

.form-control .validation-message {
  margin: 0;
  padding: 0;
  max-width: 100%;
  top: 100%;
  line-height: 15px;
  font-size: 12px;
  color: #ff0808;
  z-index: 20;
  margin-top: 3px;
}

.billing-address-on {
  margin: 10px 10px 0 10px;
}





/* cc card*/

.credit-card-payment {
  flex-wrap: wrap;
  flex-direction: row;
}

.cc-number {
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.cc-security-code {
  order: 4;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  margin-right: 140px;
}

.cc-year {
  order: 2;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 15%;
}

.cc-month {
  order: 3;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 15%;
}

.cc-other {
  display: none;
  order: 5;
  margin: 10px;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 45%;

  text-align: left;
  vertical-align: middle;
  line-height: 50px;

  span {
    font-size: 18px;
    color: #9b9b9b;
  }
}

.cc-wrapper {
  border: 1px solid #e6e6e6;
  padding: 23px 0 22px 0;
  background: #fafafa;
  margin-top: 15px;

  input, select {
    background-color: white;
  }
}

.cc-encryption {
  display: inline-block;
  color: #74bb2c;
  margin-bottom: 20px;
}
/* cc card*/

.buttons {
  margin: 30px 15px 0 15px;
}


/* buttons */

.btn {
  width: 100%;
  display: inline-block;
  padding: 13px 53px 17px 53px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  -ms-touch-action: manipulation;
  touch-action: manipulation;

  cursor: pointer;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: none;
  border: 1px solid transparent;

  .ico_ajst {
    margin: -5px 3px -2px -5px;

  }

  &-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }

  &-primary {
    color: #fff;
    background-color: #ff458f;
    border-color: #ff458f;
  }
}



@media (min-width: 768px) {
  .header {
    height: 100px;
    margin-left: -400px;
  }

  .container {
    max-width: 768px;
  }

  .wrapper {
    margin-left: 400px;
  }

  .content {
    float: right;
    width: 100%;
  }

  .aside {
    float: left;
    width: 400px;
    margin-left: -400px;
  }

  .order {
    border: solid 1px #e6e6e6;
  }

  .picture {
    display: none;

    &-desktop {
      display: block;
    }

    p {
      font-size: 14px;
      padding-top: 5px;
    }
  }

  .cleared {
    clear: both;
  }

  .content-header {
    display: none;

    &-desktop {
      display: block;
      margin-left: 66px;
    }

    .title {
      color: #000000;
      font-size: 36px;
      text-align: left;
    }

    .slogan {
      color: #ff408e;
      font-size: 16px;
      text-align: left;
      margin-top: 10px;
    }
  }

  .checkout {
    margin-left: 66px;

    h2 {
      font-size: 24px;
      text-align: left;
    }
  }

  section {
    flex-direction: row;
  }

  .column {

    &:first-of-type {
      margin: 10px 10px 10px 0;
    }

    &:last-of-type {
      margin: 10px 0 10px 10px;
    }

    &-long {
      margin: 10px 0 10px 0 !important;
    }
  }

  .column-center {
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }
  /*
  .form-control .validation-message, .form-control ._27If:before {
    display: block;
    position: absolute;
    left: 0;
  }*/

  .billing-address-on {
    margin: 22px 0 0 0;
  }


  .cc-wrapper {
    padding: 27px 30px 30px 30px;
  }

  .cc-number {
    order: 1;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
  }

  .cc-security-code {
    order: 2;
    margin: 10px 0 10px 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
  }

  .cc-year {
    order: 3;
    margin: 10px 10px 10px 0;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 15%;

  }

  .cc-month {
    order: 4;
    margin: 10px;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 15%;
  }

  .cc-other {
    display: block;
  }

  .buttons {
    margin: 30px 0 30px 0;
    float: right;
  }

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .container {
    max-width: 992px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container {
    max-width: 1200px;
  }
}