/*.app {
  background-color: black;


  .legacy-flex();
  .flex-display();
  .flex-direction(row);

  .flex-wrap(wrap);
  .align-content(stretch);


  margin: 0;
  min-height: 100%;
}

.item-left {
  width: 300px;
  height: 300px;
background-color: silver;
  border: 1px solid rebeccapurple;

}

.item-right {
  width: 500px;
  height: 300px;
background-color: greenyellow;
  border: 1px solid greenyellow;

}*/
body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

.header {
  height: 100px;
  margin-left: -400px;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin-left: 400px;
}

.content {
  float: right;
  width: 100%;
  background-color: #CCF;
}

.aside {
  float: left;
  width: 400px;
  margin-left: -400px;
  background-color: #63ffcf;
}

.order {
  background-color: #FFA;
  height: 600px;
  border: solid 1px #e6e6e6;
  padding: 0 25px 0 25px;
}

.picture {
  width: 400px;
  background-color: #657aff;
}

.cleared {
  clear: both;
}

.content-header {
  margin-left: 66px;

  .title {
    color: #000000;
    font-size: 36px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
  }

  .slogan {
    color: #ff408e;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
  }
}
