.logo {
  width: 137px;
  height: 39px;
  background: url("logo.svg") no-repeat;
  top: 18px;

  position: relative;

}

.free-perfume-product {
  display: block;
  height: 284px;
  width: 67px;
  margin: 39px auto 49px auto;
}

.bird-on-bike {
  width: 369px;
  height: 240px;
  background: url("bird-on-bike.svg") no-repeat;
  margin-bottom: 25px
}
