.b-icon {
  display: inline-block;
  background: 0 0 no-repeat;
  vertical-align: middle;

  &.cursor_title {
    cursor: help;
  }
}

.icon-cc-sign {
  width: 29px;
  height: 35px;
  background: url("cc-sign.svg");
  background-size: 29px 35px;
  margin-right: 10px;
  margin-left: 15px;

  position: relative;
  display: inline-block;
}

.icon-cc-all {
  width: 145px;
  height: 21px;
  background: url("icon-cc-all.png");
  background-size: 145px 21px;
  margin-left: 15px;
  margin-bottom: 15px;

  display: block;
}

.logo {
  width: 137px;
  height: 39px;
  background: url("logo.svg") no-repeat;
  top: 18px;

  position: relative;
}

.free-perfume-product {
  display: block;
  height: 153px;
  width: 38px;
  margin: 54px auto 45px auto;
  background: url("free_perfume_product.png") no-repeat;
  background-size: 38px 153px;
}

.bird-on-bike {
  width: 369px;
  height: 240px;
  background: url("bird-on-bike.svg") no-repeat;
  margin-bottom: 25px
}

@media (min-width: 768px) {
  .free-perfume-product {
    height: 284px;
    width: 67px;
    margin: 39px auto 49px auto;
    background-size: 67px 284px;
  }

  .icon-cc-all {
    width: 145px;
    height: 21px;
    background: url("icon-cc-all.png");
    background-size: 145px 21px;

    display: inline-block;
    float: right;
  }

  .icon-cc-sign {
    margin-left: 0;
  }
}




